<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <th:block layout:fragment="header" th:include="fragments/header"></th:block>
    <!-- Editor's Style -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <th:block layout:fragment="sidebar" th:include="fragments/sidebar"></th:block>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <th:block layout:fragment="topbar" th:include="fragments/topbar"></th:block>

            <th:block layout:fragment="content">
                <div class="content">
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <div class="card-content">
                            <form class="form-horizontal" th:action="@{/admin/brand/add}" method="post"
                                  onsubmit="blogContentSubmit();" enctype="multipart/form-data">
                                <input type="hidden" id="editorContent" name="editorContent"/>

                                <div class="form-group">
                                    <label for="image" class="col-sm-2 control-label">대표 이미지</label>
                                    <div class="col-sm-10">
                                        <input type="file" id="image" name="image" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">브랜드 한글명</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력해 주세요." />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="enTitle" class="col-sm-2 control-label">브랜드 영문명</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="enTitle" name="enTitle" class="form-control" placeholder="작성자를 입력해 주세요." />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="info" class="col-sm-2 control-label">브랜드 소개글</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="info" name="info" class="form-control"/>
                                    </div>
                                </div>

                                <div class="btn_wrap text-center">
                                    <a th:href="@{/admin/brand}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">저장하기</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-content -->
                    </div>
                    <!-- /.container-fluid -->
                </div>
            </th:block>

        </div>
    </div>
</div>
</div>

<!-- Footer -->
<th:block layout:fragment="footer" th:include="fragments/footer"></th:block>

<!-- Toast UI -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>

    const Editor = toastui.Editor;

    const editor = new Editor({
        el: document.querySelector('#editor'),
        height: '500px',
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        usageStatistics: false
    });

    function blogContentSubmit() {
        var editorBody = editor.getMarkdown();
        $("#editorContent").val(editorBody);
        alert($("#editorContent").val());
    }

</script>
</body>
</html>